* {
    text-align: center;
    padding: 30px;
    background-color: rgba(0, 191, 255, 0.25);
}
#guessInput,button{
    padding: 0;
}
@media (min-width: 601px) and (max-width: 1200px) {
    body {
        font-size: 1.2rem;
    }
    
    #guessInput, button {
        width: 60%;
    }
}

@media (min-width: 1201px) {
    body {
        font-size: 1.5rem;
    }
    
    #guessInput, button {
        width: 40%;
    }
}
